<!-- <p id="notice"><%= notice %></p> -->

<td class="index-layout-column">

  <span class="title">
    BrainStorm
  </span>

  <ul class="sketch-list">
    <% @sketches.each do |sketch| %>
      <% if sketch == @sketch %>
        <li class="sketch-list-item sketch-list-item-active">
      <% else %>
        <li class="sketch-list-item">
      <% end %>
        <%= link_to sketch.name, sketch %>
      </li>
    <% end %>
  </ul>
</td>

<td>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <%= link_to 'New', sketches_path, method: :post, class: "pure-menu-link" %>
      </li>
      <li class="pure-menu-item">
        <%= link_to 'Save', 'javascript:;', id: "saveAsButton", class: "pure-menu-link" %>
      </li>
      <li class="pure-menu-item">
        <% if @sketch %>
          <%= link_to 'Delete', @sketch, method: :delete, class: "pure-menu-link" %>
        <% else %>
          <%= link_to 'Delete', nil, class: "pure-menu-link" %>
        <% end %>
      </li>
      <li class="pure-menu-item"><a href="#" id="clearButton" class="pure-menu-link">Clear</a></li>
      <li class="pure-menu-item"><a href="#" id="aboutButton" class="pure-menu-link">Instructions</a></li>
    </ul>
  </div>

  <canvas id="canvas1" data-sketch-id=<%= @sketch.id if @sketch %> width="800" height="600">
    This text is displayed if your browser does not support HTML5 Canvas.
  </canvas>
</td>
