
<!-- <p id="notice"><%= notice %></p> -->

<td class="index-layout-column">

  <span class="title">
    BrainStorm
  </span>

  <ul class="sketch-list">
    <% if @sketches %>
      <% @sketches.each do |sketch| %>
        <% if sketch == @sketch %>
          <li class="sketch-list-item sketch-list-item-active">
        <% else %>
          <li class="sketch-list-item">
        <% end %>
          <%= link_to sketch.name, sketch %>
        </li>
      <% end %>
    <% end %>
  </ul>
</td>

<td id="view-column">
  <div class="view-column-header">
    <div class="sketch-navbar">
      <ul class="sketch-navbar-list">
        <li class="sketch-navbar-item">
          <%= link_to 'New', sketches_path, method: :post, class: "pure-menu-link" %>
        </li>
        <li class="sketch-navbar-item">
          <%= link_to 'Save', 'javascript:;', id: "saveAsButton", class: "pure-menu-link" %>
        </li>
        <li class="sketch-navbar-item">
          <% if @sketch %>
            <%= link_to 'Delete', @sketch, method: :delete, class: "pure-menu-link" %>
          <% else %>
            <%= link_to 'Delete', nil, class: "pure-menu-link" %>
          <% end %>
        </li>
        <li class="sketch-navbar-item"><a href="#" id="clearButton" class="pure-menu-link">Clear</a></li>
        <li class="sketch-navbar-item"><a href="#" id="aboutButton" class="pure-menu-link">Instructions</a></li>
      </ul>
    </div>

    <div class="login-field">
      <% if current_user %>
        <%= current_user.name %>
        <%= link_to 'Logout', '../signout' %>
      <% else %>
        <%= link_to 'Login with Facebook', '../auth/facebook' %>
      <% end %>
    </div>
  </div>

  <canvas id="canvas1" data-sketch-id=<%= @sketch.id if @sketch %> width="800" height="600">
    This text is displayed if your browser does not support HTML5 Canvas.
  </canvas>
</td>
